<mat-card>
    <mat-card-title>Project</mat-card-title>
    <mat-card-content>
<!--        <form [formGroup]="form" (ngSubmit)="submit($event)">    -->   
        <form [formGroup]="form">              
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Id" formControlName="id">
            </mat-form-field>
          </p>          
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Name" formControlName="name">
            </mat-form-field>
          </p>
          <div *ngIf="form.get('username')?.errors && form.get('username')?.touched">
            <p>
              Error
            </p>
          </div>
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Description" formControlName="description">
            </mat-form-field>
          </p>

          <p>
            <mat-form-field class="example-full-width">
              <mat-label>Product</mat-label>
              <input type="text" matInput 
                                [formControl]="productControl" 
                                [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete" 
                                [displayWith]="displayFn"
                                (optionSelected)="selectProduct($event)">
                <mat-option *ngFor="let product of filteredProducts | async" [value]="product">
                  {{product.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </p>  

          <p>
            <mat-card-footer>
              <button type="submit" (click)="create($event)" mat-flat-button color="accent" [disabled]="form.invalid" *ngIf="!form.get('id')?.value else elseBlock" >Save</button>   
              <ng-template #elseBlock>
                <div class="space-between">
                  <button type="submit" (click)="update($event)" mat-flat-button color="accent" [disabled]="form.invalid">Update</button>   
                  <button type="submit" (click)="delete($event)" mat-flat-button color="warn" [disabled]="form.invalid">Delete</button>  
                </div>
              </ng-template>
              <div *ngIf="error">
                <mat-error *ngIf="error">{{ error }}</mat-error>
                <mat-error *ngIf="message">{{ message }}</mat-error>
                <mat-error *ngIf="message2">{{ message2 }}</mat-error>
              </div>
            </mat-card-footer>
          </p>
        </form>
    </mat-card-content>
</mat-card>