<table mat-table [dataSource]="products()" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
      (click)="edit(row.id)"
      *matRowDef="let row; columns: displayedColumns;">
    </tr>
</table>
  
<ng-container matColumnDef="create">
    <button mat-raised-button color="accent mt-3"
        (click)="create()">
        Create
    </button>
</ng-container>
